#bookingForm {
	display: flex;
	flex-direction: row;
	border-style: ridge;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	background-color: #0073e6e1; /* Blue background color */
    border-radius: 10px; /* Rounded borders */
    padding: 20px; /* Add padding for spacing */
	margin-left: 15%;
	margin-right: 15%;

}

.roomListHeader {
	text-align: center;
	border-style: double;
	margin-left: 5%;
	margin-right: 5%;
	border-radius: 10px;
	margin-top: 10px;
}

.roomTypeInfo {
	display: flex;
	margin-left: auto;

}

.form-group {
	display: flex;
	flex-direction: column;
	margin-right: 25px;
	text-align: center;
	color: #fff;

	font-size:20px;

}



.form-group input,
  .form-group select {
    background-color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px;
	width: 90% ;
	font-size:15px;
  }

  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition-duration: 0.4s;
	margin-top: 5px;
	font-size: 20px;
  }

  input[type="submit"]:hover {
    background-color: #45a049;
  }

.accordion {
	background-color: #eee;
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	transition: 0.4s;
}
.panel {
	padding: 0 18px;
	display: none;
	background-color: white;
	overflow: hidden;
  }



.button {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
}

.book {
	display: flex;
	flex-direction: column;
}

.book .button:hover {
	background-color: #4CAF50;
	color: white;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.book .button {
	background-color: white;
	color: black;
	border: 2px solid #4CAF50;
	border-radius: 15px;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.band {
	display: flex;
	flex-direction: column;
	width: 90%;
	height: 60%;
	max-width: 1240px;
	max-height: 1240px;
	margin: 0 auto;
}

@media only screen and (min-width: 500px) {
	.item-1 {
		grid-column: 1/ span 2;
	}
	.item-1 h1 {
		font-size: 30px;
	}
}


/* card */

.card {
	min-height: 80%;
	background: white;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: row;
	flex-flow: row;
	text-decoration: none;
	color: #444;
	position: relative;
	top: 0;
	transition: all .1s ease-in;
	padding: 20px;
}

.card article {
	padding: 20px;
	display: flex;
	flex: 1;
	justify-content: space-between;
	flex-direction: column;
}

.card .thumb {
	padding-bottom: 30%;
	background-size: cover;
	background-position: center center;
}

.card p {
	flex: 1;
	/* make p grow to fill available space*/
	line-height: 1.4;
}


/* typography */

h1 {
	font-size: 20px;
	margin: 0;
	color: #333;
}

.card span {
	font-size: 12px;
	font-weight: bold;
	color: #999;
	text-transform: uppercase;
	letter-spacing: .05em;
	margin: 2em 0 0 0;
}

.card img {
	width: 30%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	justify-content: center;
}

.thumb {
	width: 30rem;
}



/*Navbar*/
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;

}

@font-face {
	font-family: "Bitstream Vera Serif Bold";
	src: url("https://mdn.github.io/css-examples/web-fonts/VeraSeBd.ttf");
  }

.navbar-logo {
	font-size: 24px;
	font-weight: bold;
	font-family: 'Bitstream Vera Serif Bold';
	white-space: nowrap;
	padding-left: 30px;

}

.navbar {
    background-color: #0073e6e1;
    color: #fff;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
	margin-bottom: 5px;
	padding-top: 20px;
	padding-bottom: 20px;

}

.navbar-logo {
    max-width: 80px;
}

.navbar-links {
    margin-right: 20px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
	font-size:20px;

}

.room-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.room {
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

.room img {
    max-width: 400px;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 20px;
    box-shadow: 5px 5px 5px #a7a7a76c; /* Add a shadow */
}

.room-content {
    padding: 50px; /* Add padding for spacing */
}

.room h2 {
    font-size: 18px;
    margin: 0;
}

.room p {
    font-size: 14px;
    margin: 10px 0;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0073e6;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
    font-weight: bold;
}

.button:hover {
    background-color: #005dbb;
}

.search-form {
    background-color: #56aafff0;
    color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
}

.search-form input, .search-form select {
    padding: 5px;
    margin: 5px;
}
