<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0"
        metadata-complete="false"
        xmlns="https://jakarta.ee/xml/ns/jakartaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">

    <servlet>
       <servlet-name>BookingForm</servlet-name>
       <servlet-class>server.BookingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BookingForm</servlet-name>
        <url-pattern></url-pattern>
    </servlet-mapping>

    <servlet>
       <servlet-name>ReservationForm</servlet-name>
       <servlet-class>server.ReserveServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReservationForm</servlet-name>
        <url-pattern>/reserve</url-pattern>
    </servlet-mapping>

    <servlet>
       <servlet-name>ReservationComplete</servlet-name>
       <servlet-class>server.CompleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReservationComplete</servlet-name>
        <url-pattern>/complete</url-pattern>
    </servlet-mapping>

    <servlet>
       <servlet-name>FindReservation</servlet-name>
       <servlet-class>server.FindReservationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FindReservation</servlet-name>
        <url-pattern>/find-reservation</url-pattern>
    </servlet-mapping>

    <servlet>
       <servlet-name>DisplayReservation</servlet-name>
       <servlet-class>server.DisplayServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DisplayReservation</servlet-name>
        <url-pattern>/display</url-pattern>
    </servlet-mapping>

    <servlet>
       <servlet-name>AdminPage</servlet-name>
       <servlet-class>server.manager.AdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminPage</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>

    <servlet>
       <servlet-name>AdminAddRoomType</servlet-name>
       <servlet-class>server.manager.AddRoomTypeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminAddRoomType</servlet-name>
        <url-pattern>/admin/addRoomType</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/static/</url-pattern>
    </servlet-mapping>

    <security-constraint>
        <web-resource-collection>
            <url-pattern>/jsp/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>managerAdmin1</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>webadmin</realm-name>
    </login-config>
    <auth-constraint>
        <role-name>managerAdmin1</role-name>
    </auth-constraint>
</web-app>
